.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 650px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    .titre{
    height: 17px;
    margin-bottom: 15px;
      color:black;
      display: flex;
     
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      svg{
        margin-right: 10px;
        font-size: 20px;
      }
     
    }
    .phone{
      height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: black;
      svg{
        margin-right: 10px;
        font-size: 16px;
      }
    }
    .modal-close {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
     width: 30px;
     height: 30px;
     padding: 10px;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 5px;
      background: #1c4344;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    .modal-messages {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .message{
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        height: auto;
        background-color: #f8f9fa;
        margin: 10px; 
        padding: 10px; 
        box-sizing: border-box;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      
       .span{
        margin: 0;
       } 
      }
    }

.send-button {
  background-color: #1c4344;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-reply  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  textarea{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
  }

}

  }
  
}







